<!-- GeoGloWs Data Modal -->
{% load static %}
{% load tethys_gizmos %}  

<div class="modal" id="graph" tabindex="-1" role="dialog" aria-labelledby="about-modal-label">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-d-none="true">&times;</span></button>
          <div class="row">
            <div id="watershed-info" class="col-md-8"></div>
            <div class="col-md-4">
  
            </div>
          </div>
          <div id="interaction"></div>
        </div>
        <div class="modal-body">
          

          <!-- <div class= "horizontal_flex">
            <div class="tabs">
              
              <li ><a id="forecast_tab_link" href="" aria-controls="forecast_tab" role="tab" data-bs-toggle="tab">Forecast</a></li>
              <li id="historical_tab_link_li"><a id="historical_tab_link" href="">Historical Simulation</a></li>
              <li id="flow_duration_tab_link_li"><a id="flow_duration_tab_link">Flow Duration Curve</a></li>
              <li id="seasonal_d_tab_link_li"><a id="seasonal_d_tab_link"> Daily Seasonal Streamflow</a></li>
              <li id="seasonal_m_tab_link_li"><a id="seasonal_m_tab_link"> Monthly Seasonal Streamflow</a></li>

              <li ><a href="">Download</a></li>
            </div>
            <div class="tabs_contents">

            </div>

          </div> -->





          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a id="forecast_tab_link" href="#forecast_tab" aria-controls="forecast_tab" role="tab" data-bs-toggle="tab">Forecast</a></li>
            <li role="presentation" id="historical_tab_link_li"class="d-none"><a id="historical_tab_link" href="#historical" aria-controls="historical" role="tab" data-bs-toggle="tab">Historical Simulation</a></li>
            <li role="presentation" id="flow_duration_tab_link_li" class="d-none"><a id="flow_duration_tab_link" href="#flow_duration" aria-controls="flow_duration" role="tab" data-bs-toggle="tab">Historical Simulation Statistics</a></li>
            <li role="presentation" class="d-none"><a href="#download" aria-controls="download" role="tab" data-bs-toggle="tab">Download</a></li>
          </ul>
  
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="forecast_tab">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div id="dates" class="d-none form-group" style="padding: 30px 30px 20px 0">

                  </div>
                  <div class="flex-container-row"><img id="view-file-loading" class="view-file d-none" src="{% static base_name|add:'/images/loader.gif' %}" /></div>
                  <div id="long-term-chart"></div>
                  <div class="forecast-table" id="forecast-table" style="display:none">
                      <div id="table">{# The table of forecast go here #}</div>
                  </div>
                </div>
              </div>
            </div> <!-- /.tab-pane -->
            <div role="tabpanel" class="tab-pane d-none" id="historical">
              <div class="panel panel-default">
                <div class="flex-container-row"><img id="his-view-file-loading" class="view-file d-none" src="{% static base_name|add:'/images/loader.gif' %}" /></div>
                <div id="historical-chart" class="panel-body"></div>
              </div>
            </div><!-- /.tab-pane -->
            
            <div role="tabpanel" class="tab-pane d-none" id="flow_duration_curve">
              <div class="panel panel-default">
                <div class="flex-container-row"><img id="fdc-view-file-loading" class="view-file d-none" src="{% static base_name|add:'/images/loader.gif' %}" /></div>
                <div id='fdc-chart' class="panel-body"></div>
              </div>
            </div><!-- /.tab-pane -->
            
            <div role="tabpanel" class="tab-pane d-none" id="seasonal_d">
              <div class="panel panel-default">
                <div class="flex-container-row"><img id="seasonal_d-view-file-loading" class="view-file d-none" src="{% static base_name|add:'/images/loader.gif' %}" /></div>
                <div id='seasonal_d-chart' class="panel-body"></div>
              </div>
            </div><!-- /.tab-pane -->

            <div role="tabpanel" class="tab-pane d-none" id="seasonal_m">
              <div class="panel panel-default">
                <div class="flex-container-row"><img id="seasonal_m-view-file-loading" class="view-file d-none" src="{% static base_name|add:'/images/loader.gif' %}" /></div>
                <div id='seasonal_m-chart' class="panel-body"></div>
              </div>
            </div><!-- /.tab-pane -->

            <!-- <div role="tabpanel" class="tab-pane d-none" id="flow_duration">
              <div class="panel panel-default">
                <div class="flex-container-row"><img id="fdc-view-file-loading" class="view-file d-none" src="{% static base_name|add:'/images/loader.gif' %}" /></div>
                <div id='fdc-chart' class="panel-body"></div>
                <div class="flex-container-row"><img id="seasonal_d-view-file-loading" class="view-file d-none" src="{% static base_name|add:'/images/loader.gif' %}" /></div>
                <div id='seasonal_d-chart' class="panel-body"></div>
                <div class="flex-container-row"><img id="seasonal_m-view-file-loading" class="view-file d-none" src="{% static base_name|add:'/images/loader.gif' %}" /></div>
                <div id='seasonal_m-chart' class="panel-body"></div>
              </div>
            </div> -->
            <!-- /.tab-pane -->
            <div role="tabpanel" class="tab-pane" id="download">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h6>Download Forecast Data</h6>
                  <div id="download_forecast" class="btn-group d-none long-term-select" role="group">
                    <a class="btn btn-success" role="button" id="submit-download-forecast">
                      <span class="glyphicon glyphicon-play"></span> Download Forecast
                    </a>
                  </div>
                  <h6>Download ERA 5 Data</h6>
                  <div id="download_era_5" class="btn-group d-none" role="group">
                    <a class="btn btn-info" role="button" id="submit-download-5-csv">
                      <span class="glyphicon glyphicon-play"></span> Download ERA 5 Data
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="info" class="d-none"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
