<div id="map-view-legend" class="map-view-legend ol-unselectable ol-control">

    <div class="legend_Item">
        <span class="legendlabel">
            <svg width="20" height="20" viewPort="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polyline points="19 1, 1 6, 19 14, 1 19" stroke="#0000FF" fill="transparent" stroke-width="2"/>
            </svg>
            <span class="legendglyph">Streams</span> 
        </span>
        <input id="stp-stream-toggle" class="toggle-layer" type="checkbox" checked data-bs-toggle="toggle" data-size="mini">
    </div>
    <div class="legend_Item">
        <span class="legendlabel">
            <svg width="20" height="20" viewPort="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polyline points="0 20, 0 0, 20 0, 20 20, 0 20" stroke="rgba(255,0,0,1)" fill="rgba(255,0,0,1)" stroke-width="2"/>
            </svg>
            <span class="legendglyph">Stations</span>

        </span>

            <input id="stp-stations-toggle" class="toggle-layer" type="checkbox" checked data-bs-toggle="toggle" data-size="mini">
    </div>
    <div class="legend_Item">
        <span class="legendlabel">
            <svg width="20" height="20" viewPort="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon points="0 20, 10 0, 20 20" stroke="rgba(128,0,246,1)" fill="rgba(128,0,246,0.4)" stroke-width="2"/>
            </svg >
            <span class="legendglyph">100-Year Warnings </span>
        </span>
        <input id="stp-100-toggle" class="toggle-layer" type="checkbox" data-bs-toggle="toggle" data-size="mini">

    </div>
    <div class="legend_Item">
        <span class="legendlabel">
            <svg width="20" height="20" viewPort="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon points="0 20, 10 0, 20 20" stroke="rgba(128,0,106,1)" fill="rgba(128,0,106,0.4)" stroke-width="2"/>
            </svg>
            <span class="legendglyph">
                50-Year Warnings
            </span>
        </span>
            <input id="stp-50-toggle" class="toggle-layer" type="checkbox" data-bs-toggle="toggle" data-size="mini">
    </div>

    <div class="legend_Item">
        <span class="legendlabel">
            <svg width="20" height="20" viewPort="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon points="0 20, 10 0, 20 20" stroke="rgba(255,0,0,1)" fill="rgba(255,0,0,0.4)" stroke-width="2"/>
            </svg>
            <span class="legendglyph">
                25-Year Warnings
            </span>
        </span>
            <input id="stp-25-toggle" class="toggle-layer" type="checkbox" data-bs-toggle="toggle" data-size="mini">
    </div>

    <div class="legend_Item">
        <span >
            <svg width="20" height="20" viewPort="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon points="0 20, 10 0, 20 20" stroke="rgba(255,56,5,1)" fill="rgba(255,56,5,0.4)" stroke-width="2"/>
            </svg>
            <span class="legendglyph">
                10-Year Warnings
            </span>
        </span>
            <input id="stp-10-toggle" class="toggle-layer" type="checkbox" data-bs-toggle="toggle" data-size="mini">
    </div>
    <div class="legend_Item">
        <span >
            <svg   width="20" height="20" viewPort="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon points="0 20, 10 0, 20 20" stroke="rgba(253,154,1,1)" fill="rgba(253,154,1,0.4)" stroke-width="2"/>
            </svg>
            <span class="legendglyph">
                5-Year Warnings
            </span>
        </span>
            <input id="stp-5-toggle" class="toggle-layer" type="checkbox" data-bs-toggle="toggle" data-size="mini">
    </div>
    <div class="legend_Item">
        <span >
            <svg width="20" height="20" viewPort="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon points="0 20, 10 0, 20 20" stroke="rgba(254,240,1,1)" fill="rgba(254,240,1,0.4)" stroke-width="2"/>
            </svg>
            <span class="legendglyph" >
                2-Year Warnings
            </span>
        </span>
            <input id="stp-2-toggle" class="toggle-layer" type="checkbox" data-bs-toggle="toggle" data-size="mini">
    </div>
</div>
