<!----Observed Data ----->
<div class="modal fade" id="obsgraph" tabindex="-1" role="dialog" aria-labelledby="about-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-d-none="true">&times;</span></button>
                <div class="row">
                    <div id="station-info" class="col-md-8"></div>

                </div>
                <div id="interaction"></div>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a id="observedWL_tab_link" href="#observedWL" aria-controls="observedWL" role="tab" data-bs-toggle="tab">Observed Water Level</a></li>
                    <li role="presentation"><a href="#download_data" aria-controls="download_data" role="tab" data-bs-toggle="tab">Download</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="observedWL">
                        <div class="panel panel-default">
                            <div class="flex-container-row"><img id="observed-loading-WL" class="view-file d-none" src="{% static base_name|add:'/images/loader.gif' %}" /></div>
                            <div id="observed-chart-WL"></div>
                            <!-- <iframe id="observed-chart-WL" src=""></iframe> -->
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="download_data">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h6>Download Observed Water Level Data</h6>
                                <div id="download_observed_waterlevel" class="btn-group d-none long-term-select" role="group">
                                    <a class="btn btn-success" role="button" id="submit-download-observed-waterlevel">
                                        <span class="glyphicon glyphicon-play"></span> Download Observed Water Level
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="info" class="d-none"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>